
<% if PharmkonSetting.force_rank? && current_user.force_rank.nil? %>
  <div>
    <p>教務から順位が発表されました。<br />
    <%= link_to "こちら", edit_user_registration_path %>から順位を入力してください。</p>
  </div>
<% elsif !PharmkonSetting.force_rank? && (current_user.total.nil? || current_user.count.nil?) %>
  <div>
    <p>合計点または取得単位数が入力されていないため、順位を求めることができません。<br />
      <%= link_to "こちら", edit_user_registration_path %>から情報を入力してください。</p>
    </div>
<% end %>
