
<li class="<%= action_name == "index" ? "active" : ""%>"><%= link_to "研究室一覧", action: :index %></li>
<li class="<%= action_name == "edit" ? "active" : ""%>"><%= link_to "希望調査", action: :edit %></li>

