<table class="simple-table">
  <% @groups.each do |_, group| %>
    <tr>
      <td><%= group.labo.name %></td>
      <% group.users.each do |user| %>
        <td><%= user.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= content_for :sidebar do %>
  <%= render partial: "sidebar" %>
<% end %>
