<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>研究室</th>
      <th>１人目</th>
      <th>２人目</th>
      <th>３人目</th>
      <th>４人目</th>
  </thead>
  <% @groups.each do |_, group| %>
    <tr>
      <td><%= group.labo.name %></td>
      <% (0..3).each do |n| %>
        <td><%= group.users[n].try(:name) rescue nil %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= content_for :sidebar do %>
  <%= render partial: "sidebar" %>
<% end %>
