
<li class="<%= action_name == "index" ? "active": "" %>"><%= link_to "成績一覧", students_path %></li>
<li class="<%= action_name == "show" ? "active": "" %>"><%= link_to "詳細", student_path(current_user.id) %></li>
