<% if @force_rank %>
  <p>
    現在、ユーザが入力した順位により順位を判断するモードです。<br />
    計算により順位を出したい場合は<%= link_to "こちら", {:action => :force_rank} %>から設定を変更してください。
  </p>
<% else %>
  <p>
    現在、合計点と平均点の計算により順位を判断するモードです。<br />
    教務から順位が発表され、ユーザが入力した順位により順位を出したい場合は<%= link_to "こちら", {:action => :force_rank} %>から設定を変更してください。
    </p>
<% end %>
