<h2>ヘルプ</h2>
  
<div>
<dl>
  <dt>このページに関して</dt>
  <dd>
    <ul>
      <li>このページはログインなしでも閲覧可能です。</li>
      <li>他のページに関してはログインが必要なので登録がまだの人は<%= link_to "こちら", new_user_registration_path %>から登録をお願いします。またその際には下のヘルプを参照することをオススメします。</li>
      <li>携帯からのアクセスではレイアウトが崩れ見づらい場合があるのでPCからの閲覧をオススメします。</li>
      <li>このページは随時更新されます。</li>
    </ul>
  </dd>
  <dt>登録について</dt>
  <dd>
    <ul>
      <li>学籍番号欄には学籍番号の<strong style="color: red;">下4桁</strong>を<strong style="color: red;">半角</strong>で入力してください。</li>
      <li>名前欄は必ず本名で登録してください。誰が誰かわからないと催促ができません</li>
      <li>学科欄では自分の学科を選択してください。</li>
      <li>合計点欄には必修科目、選択科目の合計点を入力してください。また合計点に含まれるべき科目は年度によって変更される可能性があるため、不明瞭な場合は教務まで相談してください。</li>
      <li>取得科目数には、取得した科目数を入力してください。落とした科目はこれに含めないでください。これも年度により上下する可能性があります。</li>
      <li>合計点、取得科目数に関しては後から変更可能ですので、間違えても大丈夫です。</li>
      <li>パスワードは<strong style="color: red;">4文字以上</strong>で入力してください。</li>
      <li>いずれの項目に関しても英数字は必ず<strong style="color: red;">半角</strong>で入力してください。</li>
    </ul>
  </dd>
  <dt>成績関連に関して</dt>
  <dd>
    <ul>
      <li>成績一覧では自分の順位を確認することができます。</li>
      <li>自分の詳細一覧では自分のデータを確認することができます。</li>
      <li>また編集を押すことで自分のデータ（成績など）を変更することが可能です。</li>
    </ul>
  </dd>
  <dt>研究室関連に関して</dt>
  <dd>
  <ul>
    <li>研究室一覧では志望可能な研究室の一覧情報が見れます。また誰がどの研究室を希望しているかが確認可能です。</li>
    <li>希望調査ページからは自分が行きたい研究室を選択することができます。ここで選択することで初めて自分の名前が研究室一覧ページで表示されます。</li>
    <li>配属間近ではこのページを随時閲覧することをオススメします。変更があった場合でも研究室からはじかれた場合でも、アプリ側からの本人への通知は一切ありません。</li>
  </ul>
  </dd>
  <dt>困った場合</dt>
  <dd>
  <ul>
    <li>各学年の成績管理アプリ管理代表者に問い合わせてください。
    <li>またそれでも解決しない場合は下のTwitterアカウントから連絡してください。</li>
  </ul>
  </dd>
</dl>

</div>
